<div class="col-sx-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http:///github.com/chadbaum">Chad Baum</a>, a handsome junior developer.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'chad.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Chad Baum</h2>
    <br />
    <p>
      Chad Baum is a web developer learning how to hack together bits and pieces of Rails.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
